<footer class="footer">
  <small>
	@2013 - Rodrigo Alcântara dos Santos
  </small>
  <nav>
    <ul>
	     <li><%= mail_to "rodrigo.alcantara.ds@gmail.com", "Contato" %></li>
    </ul>
  </nav>
</footer>