<div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">Opções</li>
              <li><%= link_to with_icon("Novo Aluno","icon-user") , new_student_path %></li>
              <li><%= link_to with_icon("Pesquisar Aluno","icon-search") , students_path %></li>
			  <li class="divider"></li>
           </ul>
</div><!--/.well -->